snippet eqn "Equation placeholder" b
\begin{equation}
$1
\end{equation}
endsnippet

snippet pic "Insert image" b
\includegraphics[width=${1:1}\linewidth]{$2}
endsnippet

snippet beg "Begin and End" b
\begin{$1}
$2
\end{$1}
endsnippet
